services:

  mailpit:
      image: axllent/mailpit
      container_name: mailpit
      restart: unless-stopped
      ports:
          - 8025:8025
      environment:
          MP_MAX_MESSAGES: 5000
          MP_API_CORS: "localhost,*"
          MP_MAX_AGE: 7d
          MP_QUIET: true

  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    ports:
      - 6969:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  apis:
    build: .
    depends_on:
      db:
        condition: service_healthy
        restart: true
      mailpit:
        condition: service_started
    # restart: on-failure
    restart: unless-stopped
    ports:
    - 3000:3000
    env_file:
      - .env
    volumes:
      - ./public/images/uploads:/app/public/images/uploads
    post_start:
      - command: ./docker-scripts/node-startup-fresh.sh
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
        - action: rebuild
          path: package.json

volumes:
  postgres_data: