services:
  db:
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_USER=newuser
      - POSTGRES_PASSWORD=daoneandonlu
      - POSTGRES_DB=kikshikano
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  apis:
    build: .
    depends_on:
      db:
        condition: service_started
        restart: true
    ports:
    - 3000:3000
    env_file:
      - .env
    volumes:
      - ./public/images/uploads:/app/public/images/uploads
    post_start:
      - command: npm run migration:create-tables && npm run migration:seed

# Just getting the code to implement this later
  # mailpit:
  #     image: axllent/mailpit
  #     container_name: mailpit
  #     restart: unless-stopped
  #     volumes:
  #         - ./data:/data
  #     ports:
  #         - 8025:8025
  #         - 1025:1025
  #     environment:
  #         MP_MAX_MESSAGES: 5000
  #         MP_DATABASE: /data/mailpit.db
  #         MP_SMTP_AUTH_ACCEPT_ANY: 1
  #         MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  postgres_data: